[Unit]
Description=WALL-E Robot
After=network.target

[Service]
ExecStart=/bin/bash -c 'source /opt/ros/humble/setup.bash && source /home/%u/WALL-E-Replica/install/setup.bash && ros2 launch wall_e_core wall_e_launch.py'
WorkingDirectory=/home/%u/WALL-E-Replica/
Restart=always
User=%u

[Install]
WantedBy=multi-user.target