@font-face {
  font-family: 'gunshipregular';
  src: url('fonts/gunship-webfont.woff2') format('woff2'),
       url('fonts/gunship-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
}

body{
  display: flex;
  justify-content: right;
  height: 100vh;
  background-color: #fbfbfb;
  font-family: Arial;
}

h1{
  font-size: 2.5em;
  font-family: 'gunshipregular';
}

h3{
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.title{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 260px;
  left: 120px;
}

.wall-e{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.menu{
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 40px;
  padding-right: 60px;
  justify-content: space-between;
}

.line{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.one{
  height: 50vh;
}

.two{
  height: 35vh;
}

.line > div{
  background-color: #CCCCCC;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 7px 7px 2px 1px #cc9858;
}

.informationsSection{
  display: flex;
  flex-direction: column;
  width: 15vw;
  margin-right: 100px;
}

.data{
  padding-left: 15px;
}

.data > div{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  align-content: center;
}

.batteryImage{
  position: relative;
  margin-right: 7px;
}

.batteryImage > img{
  height: 30px;
}

#batteryProgress{
  position: absolute;
  bottom: 8px;
  left: 4px;
  max-height: 18px;
  width: 10px;
  height: 0;
  background: #53a443;
  border-radius: 2px;
}

.battery > p{
  display: flex;
  align-items: center;
}

.cameraSection{
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.display{
  display: flex;
  background-color: white;
  overflow: auto;
  justify-content: center;
  flex-direction: column;
}

.display > .camera{
  position: relative;
  overflow: hidden;
  display: inline-block;
  height: 297.5px;
  align-self: center;
}

.display > .camera > #cameraDisplay{
  height: 100%;
}

.cameraControls{
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 3px;
  left: 3px;
}

.cameraControls > button{
  display: flex;
  height: 30px;
  width: 30px;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  padding: 0;
  margin-right: 7px;
  border-radius: 5px;
  background-size: cover;
}

.cameraControls > #AIButton{
  background-image: url('images/AIOff2.png');
}

.cameraControls > #lightButton{
  background-image: url('images/bulbOff2.png');
}

.cameraControls > #lightButton:disabled{
  cursor: not-allowed;
}

.cameraControls > button:hover{
  cursor: pointer;
}

.soundboardSection{
  width: 25vw;
  padding: 10px;
  margin-right: 100px;
}

.soundsGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 80%;
}

.soundButton{
  margin: 3px;
  position: relative;
  overflow: hidden;
  font-family: Arial;
}

.progressBar{
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background: #cc9858;
  transition: width 0ms linear;
  border-radius: 3px;
}

.buttonText{
  position: relative;
}

.soundButton:hover{
  cursor: pointer;
}

.controlsSection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25vw;
  border-radius: 5px;
}

.shifting{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.mode{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
}
  
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  top: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #53a443;
}

input:checked + .slider:before {
  -webkit-transform: translateY(26px);
  -ms-transform: translateY(26px);
  transform: translateY(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.movements{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.movementButton{
  height: 50px;
  width: 50px;
  border-radius: 4px;
}

.movementButton:hover{
  cursor: pointer;
}

.movementButton:active:not(:disabled){
  background-color: #cc9858;
}

button.movementButton:disabled{
  cursor: not-allowed;
}

.movementButton > img{
  height: 100%;
  width: 100%;
}

.top{
  grid-area: 1 / 2 / 1 / 2;
}

.left{
  grid-area: 2 / 1 / 2 / 1;
}

.right{
  grid-area: 2 / 3 / 2 / 3;
}

.bottom{
  grid-area: 3 / 2 / 3 / 2;
}